<!DOCTYPE html>
<html>
    <head>
        <script>
            function
        </script>
        <meta charset="utf-8">
        <title>CS655 geni project</title>

    </head>
<body>
<h1>Image Recognition</h1>
<p>Upload two pictures, we can tell you is that same person</p>
<form enctype="multipart/form-data" action="client.py" method="post">
<p>upload your first picture:<input type="file" name="filename" /></p>
    <p>upload second picture:<input type="file" name="filename" /></p>
<p><input type="submit" value="upload" /> </p>
</form>
</body>
</html>